<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="avraham.rada.screenlocklib">

    <application>
        <activity android:name=".SlideLockScreenActivity"></activity>
        <activity android:name=".LockScreenActivity" />
    </application>

</manifest>